<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Fullstack programmer living in Rio Cuarto, a city in the south of Cordoba (ARG). Self-taught web programmer. Websites, landing pages, mobile applications, institutional websites, corporate identity."
    />
    <meta name="robots" content="index, follow" />
    <title>Lucas García Bertaina</title>
    <link rel="icon" type="image/x-icon" href="./assets/logos/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body class="bg-emerald-950 font-page flex flex-col">
    <section name="home" class="h-screen flex flex-col items-center">
      <img src="./assets/logos/my-logo-mobile..svg" alt="logo-mobile" />
      <h1 class="text-center font-bold text-name text-gray-350">
        Lucas García Bertaina
      </h1>
      <h2 class="text-center font-normal text-proffesion text-green-750">
        FULLSTACK WEB DEVELOPER
      </h2>

      <div
        class="w-screen h-auto relative flex flex-col items-center justify-center"
      >
        <img src="./assets/img/image-profile.png" alt="profile-photo" />
        <span
          class="bg-gradient-to-b from-transparent via-emerald-550 to-emerald-950 block w-screen h-20 z-10 absolute top-auto bottom-0"
        ></span>
      </div>

      <div class="w-7 h-7 relative">
        <input type="submit" class="w-7 h-7 absolute z-20 opacity-0" />
        <img class="w-7 h-7"" src="./assets/logos/arrow.png" alt="" />
      </div>
    </section>

    <section name="about-me" class="flex">
      <div class="w-1/2 flex flex-col items-center pb-5">
        <h2 class="text-center font-light text-title text-green-750 pb-1">
          About Me
        </h2>
        <img src="./assets/img/image-about.png" alt="photo-of-me" />
      </div>

      <div class="w-1/2 flex flex-col pb-5 justify-center">
        <div class="pt-6 pb-1">
          <h3 class="inline-block font-light text-subtitle text-green-750">
            Name
          </h3>
          <h4 class="inline-block text-text text-gray-350">Lucas</h4>
        </div>
        <div class="p-1">
          <h3 class="inline-block font-light text-subtitle text-green-750">
            Age
          </h3>
          <h4 class="inline-block text-text text-gray-350">21</h4>
        </div>
        <div class="p-1">
          <h3 class="inline-block font-light text-subtitle text-green-750">
            Passion
          </h3>
          <h4 class="inline-block text-text text-gray-350">Sports</h4>
        </div>
        <div class="p-1">
          <h3 class="inline-block font-light text-subtitle text-green-750">
            Study
          </h3>
          <h4 class="inline-block text-text text-gray-350">Self-taught</h4>
        </div>
      </div>
    </section>
    <section name="my-stack and projection">
      <div class="bg-green-750 h-17 relative">
        <h2 class="text-center text-title text-gray-350 pt-1">My Stack</h2>
        <span
          class="absolute bottom-poligon rotate-140 block z-20 w-0 h-0 border-t-polygon border-t-emerald-550 border-l-polygon border-l-transparent border-r-polygon border-r-transparent"
        ></span>
      </div>
    </section>
  </body>
</html>
